[submodule "frontend"]
	path = frontend
	url = https://github.com/HabitPay/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/HabitPay/backend.git
[submodule "env"]
	path = env
	url = https://github.com/HabitPay/env.git
